section {
    display: flex;
    gap: 20px;
    margin-top: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

.meIntro {
    color: rgb(233, 145, 29);
    font-family: 'Ruwudu', serif;
    text-align: center;
}

.meIntro a {
    color: rgb(116, 155, 194);
    text-decoration: none;
    font-weight: 900;
}

.meIntro a:hover {
    color: rgb(189, 205, 214);
}

.meIntro h1 {
    font-size: xx-large;
}

section img {
    border-radius: 50%;
    width: 400px;
}

@media screen and (max-width: 700px) {
    section {
        display: block;
        text-align: center;
    }
}
