.top h1 {
    color: rgb(232, 178, 152);
    font-size: 100px;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.top h2 {
    color: rgb(232, 178, 152);
    font-family: 'Ruwudu', serif;
    text-align: center;
}

.top img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}
