.allProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.allProjects .project{
    border: 2px solid;
    border-radius: 10px;
    color: rgb(116, 155, 194);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.allProjects img,
.allProjects p {
    width: 400px;
    text-align: justify;
    color: rgb(233, 145, 29);
    text-indent: 2em;
}

.allProjects a {
    color: rgb(116, 155, 194);
    text-decoration: none;
    font-weight: 900;
}

.allProjects a:hover {
    color: rgb(189, 205, 214);
}
